<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name></display-name>
  <welcome-file-list>
    <!-- <welcome-file>index.html</welcome-file>
    <welcome-file>index.html</welcome-file> -->
    <welcome-file>/forwardAction/forward_toIndex.do</welcome-file>
    <!-- <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>classpath:beans.xml</param-value>
    </context-param>
    <!-- <session-config>
		<session-timeout>20</session-timeout>
	</session-config> -->
    <!-- 对Spring容器进行实例化 -->
    <listener>
       <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    


    
 	<servlet>
	  <servlet-name>DispatcherServlet</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:spring.xml</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DispatcherServlet</servlet-name>
	    <url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<filter>
		  <filter-name>encoding</filter-name>
		  <filter-class>com.web.filter.EcodingFilter</filter-class>
		  <init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		  </init-param>
     </filter>
     <filter-mapping>
           <filter-name>encoding</filter-name>
           <url-pattern>/*</url-pattern>
     </filter-mapping>
	

	
	
	<!-- 配置404跳转页面 -->
	<error-page>  
     <error-code>404</error-code>  
    <location>/WEB-INF/error/404NotFound.jsp</location>  
     </error-page>
     
	<!-- 配置500跳转页面 -->
	<error-page>  
    <error-code>500</error-code>  
    <location>/WEB-INF/error/500Error.jsp</location>  
    </error-page>
	
	
</web-app>